<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ctgu.linlinmusic">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="霖霖音乐"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:theme="@style/AppTheme.Full"
            tools:ignore="DuplicateActivity"
            android:name="com.ctgu.linlinmusic.activity.MusicListActivity"></activity>
        <activity android:name="com.ctgu.linlinmusic.activity.MyCenterActivity"/>
        <activity android:name="com.ctgu.linlinmusic.activity.MyInfoActivity"/>
        <activity android:name="com.ctgu.linlinmusic.activity.ChangePwdActivity" />
        <activity android:name="com.ctgu.linlinmusic.activity.RegisterActivity" />
        <activity android:name="com.ctgu.linlinmusic.activity.LoginActivity"/>
        <activity android:name="com.ctgu.linlinmusic.activity.MainActivity"></activity>
        <activity
            android:name="com.ctgu.linlinmusic.SplashActivity"
            android:theme="@style/AppTheme.Full"
            tools:ignore="DuplicateActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>


</manifest>